[submodule "external_libs/json"]
	path = external_libs/json
	url = git@github.com:nlohmann/json.git
[submodule "external_libs/mailio"]
	path = external_libs/mailio
	url = git@github.com:karastojko/mailio.git
[submodule "external_libs/cpp-httplib"]
	path = external_libs/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "external_libs/stduuid"]
	path = external_libs/stduuid
	url = git@github.com:mariusbancila/stduuid.git
[submodule "external_libs/GSL"]
	path = external_libs/GSL
	url = git@github.com:microsoft/GSL.git
